@model IEnumerable<Sonora_HOA.Models.Permissions>
@using Sonora_HOA.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Permissions permission = new Permissions();
    Owner owner = ViewBag.owner;

    ViewDataDictionary vdd = new ViewDataDictionary();
    vdd.Add("selectionMode", true);
}
<a href="@Url.Action("Details","Owners",new { id = owner.Id})">
    <i class="glyphicon glyphicon-arrow-left"></i>Back to owner's details
</a>
<h2>Owner Family and Guest Check in List</h2>
@Html.Partial("../Owners/Partial_infoOwner",owner)

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Check in List</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("Partial_CreatePermission", permission)
        @Html.Partial("../Guest/Partial_ListGuest", owner, vdd)
    </div>
</div>

