@model Sonora_HOA.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string roleName = ViewBag.roleName;
    ViewDataDictionary vdd = new ViewDataDictionary();
    vdd.Add("roleName", roleName);
}

<a href="@Url.Action("Index","Owners")">
    <i class="glyphicon glyphicon-arrow-left"></i> Back to Owners / Users list
</a>
<h3>Are you sure you want to delete this @roleName account?</h3>
<div class="alert alert-warning">
    If you delete this owner, all his associated guests, visits and check in lists will be removed.
    Associated condos will not be removed, just left to be associated to another Owner.
</div>
<div>
    @Html.Partial("../Owners/Partial_infoOwner",Model, vdd)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-danger" >Delete</button> 
        </div>
    }
</div>
