@model Sonora_HOA.Models.Owner

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index")">
    <i class="glyphicon glyphicon-arrow-left"></i> Back to Owners list
</a>
<h3>Are you sure you want to delete this Owner account?</h3>
<div>
    @Html.Partial("Partial_infoOwner",Model)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-danger" >Delete</button> 
        </div>
    }
</div>
