@model Sonora_HOA.Models.Owner
@using Microsoft.AspNet.Identity
@using Sonora_HOA.Models
@{
    ViewBag.Title = "Owner's Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewDataDictionary vdd = new ViewDataDictionary();
    vdd.Add("selectionMode", true);
    vdd.Add("ownerID", Model.Id);

    List<Sonora_HOA.Models.Condo> notAssociatedCondos = ViewBag.notAssociatedCondos;
}

@if (Request.IsAuthenticated && User.IsInRole(ApplicationUser.RoleNames.ADMIN))
{
    <a href="@Url.Action("Index","Owners")">
        <i class="glyphicon glyphicon-arrow-left"></i><span>Back to Owners List</span>
    </a>
    @Html.Partial("Partial_infoOwner", Model)
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"></h2>
    </div>
    <div class="panel-body in" id="Partial_IndexCondo">
        @Html.Partial("../Condo/Partial_IndexCondo", Model.Condos.ToList())

        @if (User.IsInRole(ApplicationUser.RoleNames.ADMIN))
        {
            //Table for condos selection to associate with owner
            <div class="panel panel-default">
                <div class="panel-heading" onclick="changeIcon(this)"
                    data-toggle="collapse" data-target="#condosTable">
                    <span>Associate New Condos</span>
                    <i class="pull-right fa fa-window-maximize"></i>
                </div>
                <div class="panel-body collapse" id="condosTable">
                    @Html.Partial("../Condo/Partial_IndexCondo", notAssociatedCondos, vdd)
                </div>
            </div>
        }
    </div>
</div>