@model Sonora_HOA.Models.Owner
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Information of Owner</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("Partial_infoOwner", Model)
    </div>
</div>

@*<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Create Guest</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("../Guest/Partial_CreateGuest", Model)
    </div>
</div>*@

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Guest</h2>
    </div>
    <div class="panel-body">
        @Html.Partial("../Guest/Partial_ListGuest", Model)
    </div>
</div>