@model CostaDiamante_HOA.Models.RegisterViewModel
@{
    ViewBag.Title = "New User";
}

<a href='@Url.Action("Index","Owners")'>
    <i class="glyphicon glyphicon-arrow-left"></i> Back to Owners / Users list
</a>

<h2>@ViewBag.Title</h2>
<div class="alert alert-warning">By default the <strong>registered account is for an Owner</strong>,
    if you click the checkbox below, you'll give this user administrator functions.</div>
@Html.Partial("Partial_UserForm")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
