@using Microsoft.AspNet.Identity
@using CostaDiamante_HOA.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right usrPanel placeInCorner">
        @{ 
            var user = (new ApplicationDbContext()).Users.Find(User.Identity.GetUserId());
            string userName = user == null ? string.Empty : user.UserName;
        <li>
            @Html.ActionLink(String.Format("Hello {0}!", userName),
    "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Change your password" })
        </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right usrPanel placeInCorner">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, 
           htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
