
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="errorTitle">Bad Request</h2>
<i style="color: blue" class="fa fa-exclamation errorLogo"></i>
<div class="alert alert-default" style="text-align: center">@GlobalMessages.HTTP_ERROR_BADREQUEST</div>