
@{
    ViewBag.Title = "Bad Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="errorTitle">Not Found</h2>
<i style="color: orangered" class="fa fa-question-circle-o errorLogo"></i>
<div class="alert alert-default" style="text-align: center">@GlobalMessages.HTTP_ERROR_NOTFOUND</div>

