<script type="text/x-template" id="comp-example-template">
    <div>
        <h2>Inside Component</h2>
        <span>{{ outText }}</span><br />
        <span>{{ sometext }}</span>
    </div>
</script>
<script>
    function initComponent() {
        return Vue.component("comp-example", {
            props: ["outText"],
            template: "#comp-example-template",
            data: function() {
                return {
                    sometext: "Mensaje dentro de un componente"
                }
            }
        })
    }
</script>
