<p style="color: red">
    As of January 1, 2015, all properties whether developed or not, will pay equal dues for HOA services. This will be effective according to what was stated in the agenda and discussed at the 2014 General Assembly Meeting, and according to the bylaws as stated in CHAPTER III, Article 11, Paragraph Three.
    For more information, please visit our website <a>costadiamante.com</a>. There you will find our by-laws.
    Interest shall apply at 10% monthly on late payments on the principal, starting on the 16th day of the month in which it is due.

    El Pago De Este Recibo No Libera De Adeudos Anteriores
</p>
