<div class="row">
    <div style="height: 130px" class="textToBottom col-xs-4">
        <div>
            BILLING ADDRESS
            ADMINISTRADORA DEL CONDOMINIO
            PO BOX 1560
            LUKEVILLE, AZ. 85341
        </div>
    </div>
    <div class="col-xs-4" style="text-align: center">
        <img style="height: 130px" src="/images/logo.png" />
    </div>
    <div style="height: 130px; text-align: right" class="textToBottom col-xs-4">
        <div>
            MAKE CHECKS PAYABLE TO: <br />
            “Administradora del Condominio CD A.C.”
        </div>
    </div>
</div>
<br />
<style>
    .textToBottom div{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
</style>