/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1em;
}

div#main {
    background: #fff;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /*max-width: 280px;*/ 
}

input[readonly='readonly']{
    background-color: dimgray;
}

/*Centers logo*/
    header.major {
        text-align: left;
    }

    header.major a h1{
        font-family : 'Times New Roman'
    }
    header.major a h1, header.major a strong{
        color: white;
    }

    /*nav header.major img{
        width: 150px;
        height: 70px;
    }*/
/*****/

/*Page body*/
    .container.body-content {
        width: 100%;
    }
/*****/

/*Ajustes de color de bootstrap*/
    .panel-primary .panel-heading h1,.panel-primary .panel-heading h2{
        color: white;
    }
    
    .panel-info>.panel-heading{
        background-color: #00C197 !important;
        border-color:  #00C197 !important;
        color: white;
    }

    .panel-default>.panel-title{
        color: white !important;
    }

    .panel-info{
        border-color: #00C197 !important;
    }

    .panel-info .panel-heading h1,.panel-info .panel-heading h2{
        color: black;
    }

    .panel{
        box-shadow: .5em .5em 1em grey;
    }

    .panel.panel-default{
        box-shadow: 0em 0em 0em grey !important;
    }

    h3.panel-title {
        color: white;
        font-weight: bold;
        font-size: 1.3em;
    }
/*****/

/*For actions column*/
    th.actions{
        width: 10em;
    }

    /*Dropdown Button */
    .dropdown_actions>button {
        height: 2em;
    }
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown_actions {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
 /*****/

 /*table*/
 .table th{
     background-color: #009979 !important;
     color: white;
 }

 td.montoNegativo{
     color:red;
 }

 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

table td i.option{
    color: blue;
    cursor: pointer;
    transition: color 500ms;
}
table td i.option:hover{
    color: chartreuse;
}
table td i.option.remove:hover{
    color: red;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

 /***CHECKIN LIST RULES****/
 #checkInRegisteredMessage button.pull-right{
     white-space:normal;
     height: 4em;
     width: 7em;
     margin-right: 1em;
     margin-bottom: 1em;
 }
 
 tr.wildCardRow {
    background-color: #ffebb4;
}


 tr.wildCardRow:hover>td,tr.wildCardRow:nth-child(odd):hover > td{
    background-color: #ffd35b !important;
}

 tr.wildCardRow:nth-child(odd) td {
    background-color: #fff5da !important;
}

 /*Forms*/
 .form-group img{
     height: 2em;
 }/*
 .form-inline {
    margin-bottom: 1em;
}*/
 .form-inline .btn {
    margin-top: 2em;
}

 .field-validation-error{
     color: red;
 }

 /*Footer*/
 footer {
    border-top: 1px solid #BADA55;
}

 /*UserPanel*/
 .usrPanel {
    background: #2b2b2b;
    position: absolute;
    right: 0;
    text-align: right;
    box-shadow: 0.1em 0.2em 2em grey;
    border-radius: 0 0 0em 1em;
    margin: 0;
}
ul.usrPanel li a {
    color: white;
    border: none;
    z-index: 5;
}

 /*Micellanius Rules*/
 .searchPanel{
     margin-bottom: .5em;
     margin-top: .5em;
 }

 a[onclick]{
     cursor: pointer;
 }

 .logoPrintPanel img{
     margin: auto;
     margin-bottom: 1em;
 }

 /* visit/create */
.removeLabel {
    color: #428bca;
}

.removeLabel:hover {
    color: #8a9835;
}

.outoftime {
    color: grey !important;
}
.intime{
    background: #5e9ace !important;
    color: white !important;
}
.payed{
    background: #94ff83 !important;
    color: black !important;
}
.delayed{
    background: #ffd800 !important;
    color: black !important;
}
.delinquency{
    background: red !important;
    color: white !important;
}

@media print{
    #main > .inner {
        padding: 0;
    }
}